@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 768px) { 

  .slider svg{
    width: 15px !important;
  }
  .slider a.previousButton, .slider a.nextButton {
    width:50px !important;
    height:50px !important;
    padding: 10px 15px !important;
  }
 }
 .search{
  outline: none;
 }
 .navs{
  font-family:'Open Sans'
 }
 .cont{
   display: flex;
   justify-content: start !important;
   flex-direction: column;
 }
